@import "../../style/variables.scss";

.themeChecker {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color-checker);
  &:hover {
    color: var(--hover-font-color-checker);
    .themeChecker__icon {
      fill: var(--hover-font-color-checker);
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--font-color-checker);
  }
}
