.userPhoto {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  overflow: hidden;

  justify-self: center;
  align-self: center;

  @media (max-width: 767px) and (min-width: 480px) {
    width: 150px;
    height: 150px;
  }
  & img {
    width: 100%;
  }
}
