@import "../../style/variables.scss";

.searchForm {
  max-width: 100%;
  display: flex;
  align-items: center;
  box-shadow: $shaddow;
  height: 70px;
  border-radius: 8px;
  padding: 0 40px;
  background-color: var(--form-background);
  @media (max-width: 480px) {
    flex-direction: column;
    height: fit-content;
    padding: 20px 40px;
    gap: 10px;
    & button {
      width: 100%;
    }
  }
}
.searchIcon {
  width: 20px;
  height: 20px;
  fill: $theme-color-purple;
}
.input {
  flex-grow: 1;
  margin: 0 20px;
  height: 40px;
  border: none;
  background-color: inherit;
  font-size: 18px;
  color: var(--form-font);
  &::placeholder {
    font-size: 18px;
    color: var(--form-font);
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.noUser {
  margin-right: 20px;
  color: $error-color;
}
